:root {
  --color-primary: rgb(43, 180, 70);
  --color-primary-hov: rgba(43, 180, 70, 0.836);
  --color-secondary: #50a3a2;
  --color-dark: #2e3639;

  --font-default-lh: 1.5;
  --font-default-size: 18px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dfe6e9;
  text-align: center;
  color: var(--color-dark);
  margin: 0;
  padding: 3rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 1rem;
  margin-bottom: 0;
}

button {
  color: var(--color-dark);
  border: none;
  font-family: 'Rotobo', sans-serif;
  font-size: 1rem;
  padding: 10px 15px;
  background-color: white;
  margin: 15px 15px 0 0;
  cursor: pointer;
  outline: none;
}

button.text-link {
  background-color: #dfe6e9;
  text-decoration: underline;
  color: var(--color-dark);
  width: unset;
  padding: unset;
  margin: unset;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.container {
  display: flex;
  flex-grow: 1;
}

/* Sections */
/* Card Content */
.con-card {
  display: flex;
  flex-grow: 1;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  margin: 15px 20px 15px 0;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  text-transform: capitalize;
  width: 100%;
}

.top {
  border-radius: 25px 25px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.name {
  font-size: 2em;
  color: var(--color-dark);
  display: flex;
  flex: 1;
  margin: 0;
}

.card .circle {
  margin: auto 15px auto 0;
}

.bottom {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #b7def94a;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.info-con {
  display: inline-block;
  padding: 5px 10px;
  max-width: 100px;
}

.info-title {
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
  color: #1a7e76cc;
}

.info {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

/* Form Content */
.form {
  padding: 20px 0;
  position: relative;
}

label {
  display: inline-block;
}

.form input,
.form select {
  border: 1px solid rgba(252, 252, 252, 0.4);
  color: #2d3436;
  background-color: #fff;
  width: 250px;
  height: 100%;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.form input:focus {
  color: #2d3436;
}

/* Buttons */
.btn-primary {
  background-color: var(--color-primary);
  appearance: none;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: var(--color-primary-hov);
}

.btn-round {
  position: relative;
}

.form .btn-round {
  color: var(--color-dark);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: auto 5px auto 0;
  padding: 0;
}

/* Add person icon image naturally looks a little skewed right, so skew left */
.btn-round.btn-primary svg {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.btn-round.btn-sm {
  width: 30px;
  height: 30px;
  color: var(--color-secondary);
}

.btn-round.btn-sm:hover {
  color: var(--color-primary-hov);
}

/* Preferences */
.controls {
  margin: 2rem 0 1rem 0;
  display: flex;
}

.control {
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.control p {
  margin: 0;
  text-align: center;
  padding: 0.5rem;
  border: solid 1px black;
}

.btn-get-meal {
  margin-top: auto;
  width: 100%;
}

.calorie-field {
  margin-top: 0.1rem;
}

.diet-options {
  margin-bottom: 0;
}

/* Meal Plan Contents */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-and-nutrition {
  display: flex;
  width: 100%;
}

.recipe {
  padding: 0 1rem 1rem 1rem;
  margin: 1.5rem;
  border: 1px solid var(--color-secondary);
  border-radius: 25px;
  flex-grow: 1;
}

.recipe .title {
  height: 50px;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 2.5rem;
}

.container-title {
  max-width: 300px;
  margin: 0 auto;
}

.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

.instructions li {
  margin-bottom: 5px;
}

.meals {
  display: flex;
  width: 90%;
}

.meals img {
  object-fit: cover;
  height: 160px;
  border-radius: 10px;
  display: flex;
}

img {
  margin-bottom: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 18rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-align: left;
}

a {
  text-decoration: none;
  background-color: var(--color-primary);
  color: #f3f3f3;
  width: fit-content;
  padding: 0.5rem 1rem;
}

a:hover {
  cursor: pointer;
  background-color: var(--color-primary-hov);
}

@media only screen and (max-width: 550px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.summary p {
  text-align: left;
  line-height: var(--font-default-lh);
  font-size: var(--font-default-size);
}

.ingredients-section {
  display: flex;
  justify-content: center;
}

.ingredients,
.instructions {
  width: 300px;
  padding: 0 1rem;
}

.ingredients li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  line-height: var(--font-default-lh);
  font-size: var(--font-default-size);
}

.instructions li {
  line-height: var(--font-default-lh);
  font-size: var(--font-default-size);
}
