body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  background-color: #dfe6e9;
  text-align: center;
  color: #2d3436;
}

.container {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.align-left {
  text-align: left;
}


/* Card Content */
.con-card {
    display: flex;
    flex-grow: 1
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  text-transform: capitalize;
  width: 100%;
}

.top {
  border-radius: 25px 25px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 0;
}

.card .circle {
  margin: auto 15px auto 0;
}

.bottom {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #b7def94a;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.info-con {
  display: inline-block;
  padding: 5px;
  max-width: 100px;
}

.info-title {
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
  color: #1a7e76cc
}

.info {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

/* Form Content */
.form {
  padding: 20px 0;
  position: relative;
}

label {
  display: inline-block;
}

.form input,
.form select {
  border: 1px solid rgba(252, 252, 252, 0.4);
  color: #2d3436;
  background-color: #fff;
  width: 250px;
  height: 100%;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.form input:focus {
    color: #2d3436;
}

.form button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
  text-align: center;
  margin: 15px 15px 0 0;
}
